.container {

    max-width: 1400px;
    margin-inline: 1.5rem;
    margin-top: 5rem;
    min-height: calc(100vh - 110px);

    .section__title {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 2em;
    }

    .account__card {
      background-color: #000;
      padding: 1rem;
      color: #fff;
      text-align: center;
      border-radius: 15px;

      .account__btns {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        gap: 1rem;

        @media screen and (max-width: 420px) {
            display: grid;
        }
      }

      h1 {
        margin-top: 1rem;
        font-size: 2em;
      }
      p {
        margin-top: 1rem;
      }
    }



    @media screen and (max-width: 420px) {
        margin-top: 12rem;
    }

    @media screen and (min-width: 1000px) {
        margin: 0 auto;
    }
}
