.container {
    max-width: 600px;
    margin-top: 5rem;
    margin-inline: 1.5rem;

    .payment__container {
    display: flex;
    flex-direction: column;
    }

    .payment__subtitle {
    color: #AAAAAA;
    }

    .payment__content_header {
    margin-top: 5rem;
    background: linear-gradient(180deg,#2c2c2c,#000);
    border-radius: 15px;
    box-shadow: -1px 1px 38px #000;
    color: #fff;
    gap: 3rem;
    justify-content: center;
    padding: 1rem 0 4rem;
    text-align: center;
    }

    .payment__input, .payment__input_1 {
    padding: 1rem;
    background-color: #fff;
    border: none;
    width: -webkit-fill-available;
    border-radius: 15px;
    }

    .payment__content {
    margin-top: 1rem;
    text-align: center;
    background: radial-gradient(100% 511.26% at 45.27% 0,#8f0410 0,#000 100%);
    border-radius: 15px;
    box-shadow: 0 0 40px #000;
    color: #fff;
    padding: 1rem;
    transition: all .4s;

    .payment__label {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .payment__button {
        margin-top: 2rem;
        padding: 1rem;
        background: linear-gradient(180deg,#2c2c2c,#000);
        border-radius: 15px;
        box-shadow: -1px 1px 38px #000;
        color: #fff;
        font-size: 1em;
        font-weight: 800;
        width: 100%;
        transition: all .4s;

        &:hover {
        background: none;
        transition: all .4s;
        }
    }
    }
    @media screen and (max-width: 420px) {
        margin-top: 12rem;
    }
}

@media screen and (min-width: 600px) {
    .container {
    margin: 0 auto;
    }
}
