.btn {
    font-size: 16px;
    color: #F01A33;
    cursor: pointer;
    background-color: transparent;
    border: #F01A33 2px solid;
    padding: 6px 12px 6px 12px;
    border-radius: 6px;
    transition: 0.25s;

    &:hover {
        transition: .25s;
        background-color: #F01A33;
        color: #FFFFFF;
    }
}

.disabled_btn {
    background-color: rgb(204, 110, 110);
    color: white;
}
