.container {
    max-width: 1400px;
    margin-inline: 1.5rem;

    .section__title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2em;
    }

    @media screen and (min-width: 1400px) {
        margin: 0 auto;
    }

    .titles {
        width: 600px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    table {
        width: 100%;
    }

    table,th, td {
        border:1px solid black;
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .user {
            width: 600px;
            display: flex;
            justify-content: space-between;
            .paid {
                color: rgb(104, 186, 104);
            }
            .not_paid {
                color: rgb(204, 110, 110);
            }
            .banned {
                background-color: rgb(204, 110, 110);
            }
        }
    }
}
