.navbar {
    margin-top: 5rem;
    margin-bottom: 2rem;
    .navbar__content {
      display: flex;
      justify-content: center;
    }
    .navbar__item {
      display: flex;
      gap: 4rem;
      background-color: #F01A33;
      padding: .5rem 1rem;
      color: #fff;
      text-align: center;
      border-radius: 15px;
    }
    .navbar__container {
      max-width: 1400px;
      margin: 0 auto;
    }
    .navbar__link {
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 600;
      gap: 1rem;
    }
    .navbar__link svg {
      color: #fff;
      width: 33px;
    }
    @media screen and (min-width: 1000px) {
      .navbar__content {
        justify-content: start;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .navbar {
      margin-top: 0rem;
    }
  }
