.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h2 {
        margin-bottom: 20px;
        color: #000;
    }
    div {
        width: 100%;
        display: flex;
        button {
            margin-top: 0px;
            width: max-content;
        }
    }
    button {
        margin-top: 20px;
        width: 100%;
    }
}
